

<nav class="navbar navbar-expand-sm bg-light">

  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4000/root/">Home</a>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4000/root/about.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4000/root/blog.html">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4000/root/staff.html">Staff</a>
      </li>
    </ul>
 

</nav>
